!!!
%html
	%head
		%title= "khristoff - desarrollador web fullstack"
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		%meta{:name => "description", :content => "Do you need a website, a logo or any other designs for your company? Perfect, i would love to hear about it!"}
		%meta{:name => "keywords", :content => "Webdesign, Design, Interface, Graphicdesign, UI, UX"}
		%link{:href => "https://fonts.googleapis.com/css?family=Source+Code+Pro", :rel => "stylesheet"}
		%link{:href => "/css/main.min.css", :rel => "stylesheet", :type => "text/css"}
	%body
		%span#numbers
			%p.gray
				- (1..40).each do |i|
					#{i}
					%br
		%article
			&lt!
			%span.pink> DOCTYPE
			%nbsp
			HTML>
			%br
			&lt
			%span.pink> html
			>
			%br
			%br
			&lt
			%span.pink> head
			>
			%br
			
			&lt
			%span.pink> meta
			%nbsp
			= succeed "=" do
				%span.green charset
				%nbsp
			= succeed ">" do
				%span.text "UTF-8"
			
			%br
			&lt
			%span.pink> title
			>khristoff - desarrollador web fullstack
			&lt/
			%span.pink> title
			\>
			%br
			&lt
			%span.pink link
			= succeed "=" do
				%span.green href
				%nbsp
			%span.text "main.css"
			= succeed "=" do
				%span.green rel
				%nbsp
			%span.text "stylesheet"
			= succeed "=" do
				%span.green type
				%nbsp
			= succeed ">" do
				%span.text "text/css"
			%br
			&lt/
			%span.pink> head
			>
			%br
			%br
			&lt
			%span.pink> body
			>
			%br
			%br
			&lt
			%span.pink> p
			>
			%br
			%br
			Mi nuevo sitio está en construcción, estate al pendiente
			%br
			%br
			Mientras tanto, puedes contactarme en 
			&lt
			%span.pink> strong
			>
			%nbsp
			%span.text>
			%a{:href => "mailto: contacto@khristoff.com", :style => "color: #E6DB74; text-decoration: none; cursor:url('/img/click.png'), auto;"} "contacto@khristoff.com"
			&lt/
			%span.pink> strong
			>
			%br
			%br
			&lt/
			%span.pink> p
			>
			%br
			%br
			&lt/
			%span.pink> body
			>
			%br
			&lt/
			%span.pink> html
			>
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%span.gray
				&lt!--
				%br
				Oh, también tengo Twitter!
				%br
				Sígueme en 
				%a{:href => "https://twitter.com/khristoff", :style => "text-decoration: none; color: #90908A; cursor:url('/img/click.png'),auto;", :target => "_blank"} @khristoff
				%br
				/-->